<!DOCTYPE html>
<!-- Carl Saba -->
<html>
    <link type="text/css" href="stylesheets/style.css" rel="stylesheet">
    <script type="text/javascript" src="javascripts/displayBets.js"></script>
    <script type="text/javascript" src="javascripts/setOdds.js" async></script>
<body>
    <div class="topnav">
        <a class="active" href="/"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/National_Football_League_logo.svg/1200px-National_Football_League_logo.svg.png"></a>
        <a href="/profile">Profile</a>
        <a href="/betsAvailable">Bets</a>
    </div>
    <div class="body" id="set-odds-body">
        <form id="week-form" onsubmit="event.preventDefault(); validateWeek();">
            <label for="select-week">Select week: </label>
            <select id="select-week"></select>
            <input id="submit-week-button" type="button" name="Submit" value="Submit" onclick="validateWeek();"/>
        </form>

    </div>

    <div id="betPage">
    <table id="betOffer" style="width:100%">
        <tr>
            <th class="info">Date</th>
            <th class="info">Away @ Home</th>
            <th class="info">Time</th>
            <th class="info">Moneyline</th>
            <th class="info">Amount</th>
        </tr>
    </table>
    </div>
</body>
</html>