<!DOCTYPE html>
<html>
  <link type="text/css" href="stylesheets/style.css" rel="stylesheet">
<body>
    <div class="topnav">
        <a class="active" href="/"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/National_Football_League_logo.svg/1200px-National_Football_League_logo.svg.png"></a>
        <a href="/profile">Profile</a>
        <a href="/bets">Bets</a>
    </div>
    <div class="betPage">
        <div class="date"></div>
        <div class="teams"></div>
        <div class="time"></div>
        <div class="odds"></div>
        <div class="betML"></div>
        <div class="betSpread"></div>
        
    </div>
</body>
</html>