<!DOCTYPE html>
<html>
    <link type="text/css" href="stylesheets/style.css" rel="stylesheet">
<body>

</body>
    <div class="topnav">
        <a class="active" href="/"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/National_Football_League_logo.svg/1200px-National_Football_League_logo.svg.png"></a>
        <a href="/profile">Profile</a>
        <a href="/betsAvailable">Bets</a>
    </div>

    <br><br><br>

    <form>
        <input id="depositForm" type="text" name="deposit" placeholder="Enter the amount you would like to desposit.." autocomplete="off">
        <input id="depositSubmit" type="submit" name="desposit">
    </form>