<!DOCTYPE html>
<!-- Carl Saba -->
<html>
  <link type="text/css" href="stylesheets/style.css" rel="stylesheet">
  <script type="text/javascript" src="javascripts/displayProfileInfo.js" async></script>
<body>
  <div class="topnav">
    <a class="active" href="/"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/National_Football_League_logo.svg/1200px-National_Football_League_logo.svg.png"></a>
    <a href="/profile">Profile</a>
    <a href="/betsAvailable">Bets</a>
    <div class="topnav-right">
      <a href="/deposit" id="displayBalance"></a>
  </div>
  </div>
  <br><br>
  <div class="top">
    <div id="personalInfo">
      <table class="twofold">
        <tr>
          <td class="info">Email</td>
          <td id="email"></td>
        </tr>
        <tr>
        </tr>
      </table>
    </div>
    <div id="moneyInfo">
      <table class="twofold">
        <tr>
          <td class="info">Balance</td>
          <td id="balance"></td>
        </tr>
      </table>
    </div>
  </div>
  <br><br>
  <div id="deposit">
    <div class="center">
      <a href="/deposit"><button id="depositButton">Deposit</button></a>
    </div>
  </div>
  <div class="bottom">
      <h2 id="history">Bet History</h2>
      <div class="no-move">
        <div class="body" id="set-odds-body">
          <form id="week-form" onsubmit="event.preventDefault(); validateWeek();">
              <label for="select-week">Select week: </label>
              <select id="select-week"></select>
              <input id="submit-week-button" type="button" name="Submit" value="Submit" onclick="validateWeek();"/>
          </form>
        </div>
      </div>
      <br><br><br>
      <table id="oldBets">
        <tr>
            <th class="info">Date</th>
            <th class="info">Away @ Home</th>
            <th class="info">Time</th>
            <th class="info">Pick</th>
            <th class="info">Odds</th>
            <th class="info">Amount</th>
            <th class="info">Victory</th>
        </tr>
    </table>
  </div>
</body>
</html>
