<!DOCTYPE html>
<!-- Carl Saba -->
<html>
  <link type="text/css" href="stylesheets/style.css" rel="stylesheet">
  <script type="text/javascript" src="javascripts/displayProfileInfo.js"></script>
<body>
  <div class="topnav">
    <a class="active" href="/"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/National_Football_League_logo.svg/1200px-National_Football_League_logo.svg.png"></a>
    <a href="/profile">Profile</a>
    <a href="/betsAvailable">Bets</a>
    <div class="topnav-right">
      <a id="displayBalance"></a>
  </div>
  </div>
  <br><br>
  <div class="top">
    <div id="personalInfo">
      <table class="twofold">
        <tr>
          <td class="info">Email</td>
          <td id="email">BLANK</td>
        </tr>
        <tr>
          <td class="info">Name</td>
          <td id="name">BLANK</td>
        </tr>
        <tr>
        </tr>
      </table>
    </div>
    <div id="moneyInfo">
      <table class="twofold">
        <tr>
          <td class="info">Balance</td>
          <td id="balance">BLANK</td>
        </tr>
        <tr>
          <td class="info">Total Deposited</td>
          <td id="totalDeposited">BLANK</td>
        </tr>
        <tr>
          <td class="info">Total Won</td>
          <td id="totalWinnings">BLANK</td>
        </tr>
        <tr>
          <td class="info">Bets Placed</td>
          <td id="numberBets">BLANK</td>
        </tr>
      </table>
    </div>
  </div>
  <div id="deposit">
    <div class="center">
      <a href="/deposit"><button id="depositButton">Deposit</button></a>
    </div>
  </div>
  <br>
  <div class="bottom">
      <h2 id="history">Bet History</h2>
      <table id="oldBets" style="width:100%">
        <tr>
            <th class="info">Date</th>
            <th class="info">Pick</th>
            <th class="info">Time</th>
            <th class="info">Odds</th>
            <th class="info">Amount</th>
        </tr>
    </table>
  </div>
</body>
</html>
