<!DOCTYPE html>
<html>
  <link type="text/css" href="stylesheets/style.css" rel="stylesheet">
  <script src=../routes/index.js></script>
  <script type="text/javascript" src="javascripts/setOdds.js" async></script>
<body>
    <div class="topnav">
        <a class="active" href="/"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/National_Football_League_logo.svg/1200px-National_Football_League_logo.svg.png"></a>
        <a href="/statistics">Statistics</a>
        <a href="/setOdds">SetOdds</a>
    </div>

    <div class="body" id="set-odds-body">
        <form id="week-form" onsubmit="event.preventDefault(); validate();">
            <label for="select-week">Select week: </label>
            <select id="select-week"></select>
            <input id="submit-week-button" type="button" name="Submit" value="Submit" onclick="validate();"/>
        </form>

    </div>

</body>
</html>