body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 40%;
}

.signOn {
  color: white;
  background-color: green;
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
  margin:10% auto;
  text-align: center;
  width: 100%;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  margin-left: 0px;
  box-shadow: 0 10px 10px -10px rgba(0,0,0,.2);
}

.topnav-right {
  float: right;
}

.topnav a {
  font-family: 'Outfit';
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: top ease 0.5s;
  position: relative;
  top: 0;
}

.topnav img {
  width: 40px;
  height: 100%;
}

.topnav a:hover {
  top: -7px;
}

.topnav a.active {
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.top {
  margin-left: 20px;
}

.top, .bottom {
  margin: 20px;
  display: grid;
  grid-gap: 5px;
  width: 100%;
}

#betOffer, #oldBets {
  margin-top: 20px;
  position: relative;
}

#betOffer, #betOffer th, #betOffer td, #oldBets, #oldBets th, #oldBets td {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

#betOffer th, #betOffer td, #oldBets th, #oldBets td{
  padding: 5px;
  width: 20%;
  text-align: center;
}

.top {
  grid-template-columns: 1fr 1fr;
}
.bottom {
  grid-template-rows: 1fr 1fr;
}

.twofold {
  width: 70%;
  margin-left: 20px;
  float: left;
  padding: 20px;
}

#personalInfo, #moneyInfo {
  margin: 40px;
  border: 2px outset grey;
  background-color: aqua;
}

#deposit {
  height: 50px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#depositButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
}

#depositButton:hover,
#depositButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.betPlaced, .bet {
  display: inline-block;
  height: 100px;
  justify-content: center;
  margin: 15px;
  padding: 20px;
  border: 2px groove grey;
}

.info {
  font-weight: bold;
}

.game {
  display: flex;
  margin-top: 30px;
}

.set-odds-game-name, .set-odds-game-date {
  width: 120px;
  border:1px solid #333;
  text-align: center;
}

.set-odds-input-form-button, .set-odds-button {
  background-color:#4CAF50;
  color:white;
  border: #4CAF50;
  margin-right: 10px;
}

#submit-week-button {
  font-family: 'Outfit';
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 5px 5px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}

.set-odds-input-form-button:hover, .set-odds-button:hover, #submit-week-button:hover {
  background-color: darkgreen;
}

#select-week, #select-week1 {
  margin-top: 20px;
  font-family: 'Outfit';
  font-size: 20px;
}

#history {
  text-align: center;
}

#depositForm, #depositSubmit {
  width: 100%;
  font-size: 16px;
  margin: 10px;
  padding: 12px 20px 12px 40px;
}

#depositForm {
  background-image: url('https://www.rawshorts.com/freeicons/wp-content/uploads/2017/01/green_prodpictdollar_1484336218-1.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#depositSubmit {
  background-color: green;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 25%;
  height: 30%;
  text-align: center;
  border-radius: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

#welcome {
  margin-top: 10%;
}

.index-body {
  font-family: 'Outfit';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sign-in-label {
  display: table-cell;
}

#email {
  display: table-cell;
  margin-right: 30%;
  border-radius: 5px;
  border-color: lightgray;
  border-width: 0px;
  box-shadow: inset 0 0 2px 0 #888;
  background: #fff;
  font-family: 'Outfit';
}

#pass {
  display: table-cell;
  border-radius: 5px;
  border-color: lightgray;
  border-width: 0px;
  box-shadow: inset 0 0 2px 0 #888;
  background: #fff;
  font-family: 'Outfit';
}

#sign-in-form {
  display: table;
  margin-bottom: 15%;
  margin-right: 20%;
}

#sign-in-row {
  display: table-row;
  margin-left: 20%;
}

#sign-in-button, #new-user-button {
  display: table-cell;
  margin-left: 100%;
  margin-bottom: 5%;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-family: 'Outfit';
  font-size: 13px;
  background-color: #4CAF50;
  color: white;
  padding: 5px 5px;
  cursor: pointer;
  transition: 0.3s;
}

#sign-in-button:hover, #new-user-button:hover, #submit-week-button:hover {
  background-color: #97e69b;
  margin-left: 95%; /* 25%? */
  /* margin-bottom: 20%; */
}

.button {
  margin: 5px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.table, .table tr, .table td {
  border: none;
}

#week-form {
  font-family: 'Outfit';
  width: 400px;
  height: 400px;
}

#week-form label {
  margin-left: 10%;
  font-size: 20px;
}